@using Project.Models.Supplier;
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout</h2>
@if (Session["cart1"] == null)
{
    <div class="alert alert-danger">
        <strong>No product added to cart!</strong>
    </div>

}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Item item in (List<Item>)Session["cart1"])
            {
                <tr>
                    <td>@item.supplierProduct.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>
                        <a href="@Url.Action("AddToCart", "Home2", new { productId = item.supplierProduct.ProductID, url="Checkout" })">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        </a>
                        <a href="@Url.Action("DecreaseQty", "Home2", new { productId = item.supplierProduct.ProductID})">
                            <i class="glyphicon glyphicon-minus-sign"></i>
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("RemoveFromCart", "Home2", new { productId = item.supplierProduct.ProductID, url="CheckoutDetails" })">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <a class="btn btn-success" href="@Url.Action("CheckoutDetails","Home2")">Proceed To Order >></a>

}




